Repository ProfCyberNaught/cybersecurity-blog-posts, pull requests merged in 2023-03, with the labels that each got.

#30 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, New Copied Article

#33 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#36 Update README.md
  README.md
Labels: documentation

#38 34 feature create todomd file
  TODO.md
Labels: documentation, cybersecurity

#37 Update pages content help: add new article
  README.md
  pcn_cybersecurity_articles/not-everything-is-a-click-fix.md
Labels: documentation, cybersecurity, New Copied Article

#42 35 feature create copy article detailed instructionsmd file
  CONTRIBUTING.md
  COPY_ARTICLE_DETAILED_INSTRUCTIONS.md
  README.md
  TODO.md
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_content.png
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_footer_table.png
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_instruction_comments.png
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_keywords.png
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_no_edit_above.png
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_no_edit_below.png
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_references.png
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_subtitle.png
  pcn_images/article_detailed_instructions_documentation/article_template_file/article_template_title.png
  pcn_images/article_detailed_instructions_documentation/github_link/github_profile_link.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_bold_example.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_bullet_points_example.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_content_body_section.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_feature_feed.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_header_section.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_inline_link_example.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_italics_example.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_keyword_section.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_layout_overview.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_numbered_list_example.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_quote_example.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_reference_section.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_sectional_headers_example.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_strike_through_example.png
  pcn_images/article_detailed_instructions_documentation/website_article/article_url_link_example.png
Labels: documentation, enhancement, cybersecurity

#44 New article backup page
  TODO.md
  pcn_cybersecurity_articles/open-sourced-or-closed-sourced-software.md
Labels: documentation, good first issue, beginner, easy, beginner friendly, starter, first-timers-only, good-first-bug, cybersecurity, New Copied Article

#45 New article backup page
  TODO.md
  pcn_cybersecurity_articles/navigating-the-digital-world-understanding-online-privacy-security-and-how-to-protect-it.md
Labels: documentation, enhancement, good first issue, beginner, easy, beginner friendly, first-timers-only, cybersecurity, New Copied Article
